body {
  background-size: contain;
  margin: 0;
  background-color: #333;
  font-family: 'sans-serif';
  line-height: 2;
}

/* TODO: media query */
#central {
  width: 800px;
  margin-left: -400px;
  position: absolute;
  top: 0;
  left: 50%;
}

#blocked, #unblock, #unblock-typing, #unblock-confirm, #unblock-reason-history {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  color: white;
  display: none;
  font-size: 200%;
  left: 0;
  margin: 32px;
  opacity: 1;
  padding: 32px;
  position: absolute;
  top: 124px;
  z-index: 10;
}

#unblock-reason-history {
  top: 380px !important;
}

#unblock input {
  filter: invert(100%);
  font-size: 120%;
  font-family: 'sans-serif';
}

input[type='checkbox'] {
  width: 16px;
  height: 16px;
}

#typing-prompt {
  user-select: none;
}

#typing-input {
  filter: invert(100%);
  margin-left: -4px;
  width: 102%;
  font-size: 100%;
  font-family: 'sans-serif';
}

#unblock-time {
  width: 2em;
}

a, a:visited {
  color: #0bf;
}

#external-content {
  display: none;
}
