/* major-mono-display-regular - latin */
@font-face {
  font-family: 'Major Mono Display Clock';
  font-style: normal;
  font-weight: 400;
  src: url('major-mono/clock-subset.woff') format('woff');
}

.block {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  color: white;
  display: none;
  font-size: 200%;
  left: 0;
  margin: 32px;
  opacity: 1;
  padding: 32px;
  position: absolute;
  top: 124px;
  z-index: 10;
}

body #clock {
  display: block;
  top: 0;
  left: auto;
  right: 0;
  font-family: Major Mono Display Clock, monospace;
  font-size: 275%;
}

#clock.clock-late {
  color: red;
  font-weight: 800;
  animation-name: blinker;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  from { opacity: 1.0; }
  40% { opacity: 0.9; transform: rotate(-2deg); }
  50% { opacity: 0.5; transform: rotate(5deg); }
  60% { opacity: 0.9; transform: rotate(0deg); }
  to { opacity: 1.0; }
}
